name: Playwright Tests Core
on:
  workflow_call:

jobs:
# -------------------------  
# JOB 1: TESTS
# -------------------------  
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    env: 
      HEROKU_BASE_URL: ${{ vars.HEROKU_BASE_URL}}
      HEROKU_BASIC_AUTH_USER_GLOBAL: ${{ secrets.HEROKU_BASIC_AUTH_USER_GLOBAL}}
      HEROKU_BASIC_AUTH_PASS_GLOBAL: ${{ secrets.HEROKU_BASIC_AUTH_PASS_GLOBAL}}
      HEROKU_BASIC_AUTH_USER_CHROMIUM: ${{ secrets.HEROKU_BASIC_AUTH_USER_CHROMIUM}}
      HEROKU_BASIC_AUTH_PASS_CHROMIUM: ${{ secrets.HEROKU_BASIC_AUTH_PASS_CHROMIUM}}
      
    steps:
    - uses: actions/checkout@v4 
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*

    # ---------- CACHE NPM ----------
    - name: Cache npm
      uses: actions/cache@v4
      with:
        path: ~/.npm
        key: ${{ runner.os }}-npm-${{ hashFiles('**/package-lock.json') }}
        #restore key for a parcial cache
        restore-keys: |
            ${{ runner.os }}-npm-

    # ---------- CACHE PLAYWRIGHT ----------
    - name: Cache Playwright Browsers
      uses: actions/cache@v4
      with:
        path: ~/.cache/ms-playwright
        key: ${{ runner.os }}-playwright-${{ hashFiles('package.json') }}
        restore-keys: |
            ${{ runner.os }}-playwright-

    - name: Install dependencies
      run: npm ci
    - name: Install Playwright Browsers
      run: npx playwright install --with-deps
    - name: Run Playwright tests
      run: npm test
    - uses: actions/upload-artifact@v4
      if: ${{ env.ACT != 'true' && !cancelled() }}
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30

# -------------------------  
# JOB 2: VISUAL TESTS  
# -------------------------  

  visual-test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    needs: test
    if: success()
    env: 
      HEROKU_BASE_URL: ${{ vars.HEROKU_BASE_URL}}
      HEROKU_BASIC_AUTH_USER_GLOBAL: ${{ secrets.HEROKU_BASIC_AUTH_USER_GLOBAL}}
      HEROKU_BASIC_AUTH_PASS_GLOBAL: ${{ secrets.HEROKU_BASIC_AUTH_PASS_GLOBAL}}
      HEROKU_BASIC_AUTH_USER_CHROMIUM: ${{ secrets.HEROKU_BASIC_AUTH_USER_CHROMIUM}}
      HEROKU_BASIC_AUTH_PASS_CHROMIUM: ${{ secrets.HEROKU_BASIC_AUTH_PASS_CHROMIUM}}
      
    steps:
    - uses: actions/checkout@v4 
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*

    # ---------- CACHE NPM ----------
    - name: Cache npm
      uses: actions/cache@v4
      with:
        path: ~/.npm
        key: ${{ runner.os }}-npm-${{ hashFiles('**/package-lock.json') }}
        #restore key for a parcial cache
        restore-keys: |
            ${{ runner.os }}-npm-

    # ---------- CACHE PLAYWRIGHT ----------
    - name: Cache Playwright Browsers
      uses: actions/cache@v4
      with:
        path: ~/.cache/ms-playwright
        key: ${{ runner.os }}-playwright-${{ hashFiles('package.json') }}
        restore-keys: |
            ${{ runner.os }}-playwright-

    - name: Install dependencies
      run: npm ci
    - name: Install Playwright Browsers
      run: npx playwright install --with-deps
    - name: Run Playwright tests
      run: npm run test:visual
    - uses: actions/upload-artifact@v4
      if: ${{ env.ACT != 'true' && !cancelled() }}
      with:
        name: playwright-visual-report
        path: playwright-report/
        retention-days: 30